@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 62.5%;
}

input {
  width: 300px;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 8%);
}

input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
}

.container {
  color: indigo;
  text-shadow: magenta;
  font-weight: bold;
  width: 500px;
  margin: 40px auto;
  border: 2px solid royalblue;
  padding: 20px;
  border-radius: 15%;
}
